:root {
    --general-color: #111111;
    --general-bg: #FFFFFF;
    --general-hover: #c5358c;
}

body {
    font-family: "OpenSans", "NAMU", sans-serif;
    color: var(--general-color);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/* ===========================================*/


.header {
    background: var(--general-color);
    color: var(--general-bg);
    padding: 6px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
}

.header__burger span {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--general-bg);
    border-radius: 2px;
}

.header__burger span::before,
.header__burger span::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--general-bg);
    border-radius: 2px;
}

.header__burger span::before {
    top: -8px;
}

.header__burger span::after {
    bottom: -8px;
}

.header__logo {
    max-width: 77px;
}

.nav__list {
    display: flex;
    gap: 4vh;
}

.nav__link {
    font-family: NAMU, sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}

.header__bag {
    width: 36px;
    height: 36px;
}


/*=======================================================*/


.about {
    background: #DDDDDD;
}

.about__body {
    display: flex;
    gap: 87px;
}

.about__heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding-top: 235px;
    padding-bottom: 160px;
}

.about__button-img {
    border-radius: 3px;
}


.about__img img {
    max-width: 135%;
}

/*====================================================*/


.item {
    padding: 150px 0;
}

.item__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item__box {
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 41px 0px #0000000d;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.item__inner {
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: background-color 0.3s ease;
}

.item__inner:hover {
    background-color: var(--general-color);
    color: var(--general-bg);
}

.item__title {
    font-family: NAMU, sans-serif;
    font-size: 23px;
    font-weight: 900;
}

.item__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    gap: 24px;
}

.item__arrow-icon {
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.3s ease;
}

/*=======================================*/


.opinion {
    background: #f8f8f8;
}

.opinion__inner {
    display: flex;
}

.opinion__main {
    position: relative;
    padding: 200px 0;
    gap: 20px;
}

.opinion__title {
    position: absolute;
    top: 120px;
    left: 4px;
    font-family: NAMU, sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 50px;
}

.opinion__text {
    max-width: 100%;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.opinion__img {
    margin-top: 141px;
    margin-bottom: 0;
    max-width: auto;
    display: block;
}

/*========================================*/


.service {
    background: var(--general-bg);
}

.service__main {
    margin: 100px 0 150px 0;
}

.service__title {
    padding: 100px 0;
    color: var(--general-color);
    font-family: NAMU, sans-serif;
    font-size: 42px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
}

.service__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.service__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    box-shadow: 0px 4px 41px #00000033;
}

.service__img {
    margin: 26px;
}

.service__name {
    font-family: NAMU, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}

.service__text {
    margin: 13px;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    text-align: center;
}

/*======================================*/


.content {
    background: #F8F8F8;
}

.content__inner {
    padding: 140px 0 110px;
}

.content__title {
    padding-bottom: 56px;
}

.content__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 120px;
}

.content__text {
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding: 6px 20px 7px;
    border: 1px solid var(--general-color);
    border-radius: 31px;
    cursor: pointer;
}

.content__text.clicked {
    color: var(--general-hover);
    border-color: var(--general-hover);
}

.content__view {
    margin: 5px;
}

.content__show {
    display: flex;
    align-items: end;
    color: var(--general-hover);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-decoration: underline;
}

.content__block {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 40px;
}

.content__filter {
    border: 1px solid var(--general-hover);
    border-radius: 3px;
    padding: 7px 25px 8px;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.content__filter:hover,
.content__filter.clicked {
    color: var(--general-hover);
}

.content__menu {
    display: none;
    position: absolute;
    top: 50%;
    background: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    z-index: 10;
}

.content__menu a {
    display: block;
    border: 0.5px solid #716b6b;
    padding: 7px 25px 8px 25px;
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    text-align: inherit;
}

.content__menu-open {
    display: block;
}

.content__menu a:hover {
    background: #f0f0f0;
}

.content__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: auto;
}

.content__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 820px;
    background: var(--general-bg);
    box-sizing: border-box;
    gap: 10px;
}

.content__picture {
    border-radius: 20px;
}

.content__picture img {
    max-width: 100%;
    max-height: 100%;
}

.content__check {
    padding: 30px;
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
}

.content__discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    margin-top: auto;
}

.content__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.content__count {
    display: flex;
    margin-top: 0;
    padding-top: 14px;
}

.content__sign {
    width: 100%;
    text-align: center;
    height: 64px;
    border-radius: 3px;
    font-family: OpenSans, sans-serif;
    font-size: 24px;
    line-height: 60px;
}

.content__control {
    display: flex;
    justify-content: space-between;
    height: 64px;
    border: 1px solid var(--general-color);
    border-radius: 3px;
    padding-left: 35px;
    padding-right: 35px;
}

.content__control button {
    font-size: 24px;
}

.minus {
    background: var(--general-bg);
}

.plus {
    background: var(--general-bg);
}

.button {
    width: 100%;
    text-align: center;
    height: 64px;
    border-radius: 3px;
    background: var(--general-color);
    color: #f8f8f8;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button.clicked {
    background: var(--general-hover);
}

.content__fold {
    display: flex;
    align-items: end;
    gap: 30px;
}

.content__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
}

.content__prev,
.content__next {
    background: #f8f8f8;
}

.content__prev:hover path,
.content__next:hover path {
    fill: var(--general-hover);
    border: 1px solid var(--general-hover);
    border-radius: 3px;
    border-color: var(--general-hover);
}

.content__pagination {
    display: flex;
    position: absolute;
}

/*==================================================*/


.testimonials {
    min-height: auto;
}

.testimonials__inner {
    padding-top: 100px;
}

.testimonials__line {
    display: flex;
    border-bottom: 1px solid #ababab;
    padding: 30px 0;
}

.testimonials__line:nth-child(2) .testimonials__items,
.testimonials__line:nth-child(4) .testimonials__items {
    justify-content: start;
}

.testimonials__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.star {
    width: 161px;
}

.testimonials__button {
    display: flex;
    align-items: flex-end;
    width: 270px;
}

.testimonials__button img {
    width: 80%;
}

.testimonials__block {
    padding: 0 60px;
}

.testimonials__name {
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.testimonials__title {
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 21px;
    font-weight: 400;
    padding-bottom: 15px;
}

.testimonials__text {
    max-width: 100%;
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 30px;
}

.testimonials__foto {
    padding-bottom: 10px;
}

.testimonials__show {
    color: var(--general-hover);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    text-decoration: underline;
}

.testimonials__data {
    margin-left: auto;
}

.testimonials__button-arrow {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.testimonials__arrow {
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--general-color);
    border-radius: 3px;
    padding: 10px 20px;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    background: none;
    cursor: pointer;
}

.testimonials__arrow svg {
    width: 20px;
    height: 20px;
}

.testimonials__arrow:hover {
    border: 1px solid var(--general-hover);
    color: var(--general-hover);
}

/*=================================================*/

.questions {
    background: #f8f8f8;
    padding: 150px 280px;
}

.questions__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ababab;
    min-height: 98px;
}

.questions__line:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.questions__form {
    color: var(--general-color);
    font-family: NAMU;
    font-size: 42px;
}

.questions-list__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.questions-list__control-icon {
    width: 50px;
    height: 50px;
    border: 1.5px solid var(--accent-color);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.questions-list__item--opened .questions-list__control-icon {
    transform: rotateZ(45deg);
}

.questions-list__control-icon svg {
    transform: scale(1.5);
}

.questions-list__item--opened .questions-list__control-icon svg path {
    fill: var(--general-hover);
}

.questions-list__content {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
}

.questions-content__title {
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}


/*==================================================*/


.news__logo {
    padding: 70px 0;
    color: var(--general-color);
    font-family: NAMU sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.news__foto {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 80px;
}

.news__block {
    flex: 1;
}

.news__picture img {
    width: 100%;
}

.news__data {
    padding: 20px 0;
    color: #919191;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.news__title {
    padding-bottom: 15px;
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.news__text {
    padding-bottom: 15px;
    color: var(--general-color);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 300;

}

.news__read {
    padding-bottom: 15px;
    color: var(--general-hover);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.news__button-arrow {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.news__arrow {
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--general-color);
    border-radius: 3px;
    padding: 10px 20px;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.news__arrow:hover {
    background: #f8f8f8;
    border: 1px solid var(--general-hover);
    color: var(--general-hover);
}

/*==========================================*/


.connection {
    background: #f8f8f8;
}

.connection__inner {
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connection__col {
    display: flex;
    flex-direction: column;
    height: 608px;
    padding: 150px 0;
}

.connection__title {
    width: 100%;
    height: auto;
    color: var(--general-color);
    font-family: NAMU, sans-serif;
    font-size: 40px;
}

.connection__input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--general-color);
    background-color: #f8f8f8;
}

.connection__field {
    display: block;
    width: 100%;
    background: #00000000;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ababab;
}

.connection__field:hover {
    border-color: var(--general-color);
}

.connection__field::placeholder {
    color: #AC907A;
    transition: background 0.5s;
}

.connection__field:hover::placeholder {
    color: #00000000;
}


.connection__button {
    width: 192px;
    height: 38px;
    margin-top: 30px;
    color: var(--general-bg);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    border: 1px solid var(--general-color);
    border-radius: 3px;
    background: var(--general-color);
}


.connection__label {
    padding-top: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 8px;
    font-size: 18px;
}

.connection__label .connection__checkbox {
    display: none;
}

.connection__label .connection__icon {
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: background 0.2s, border-color 0.2s;
    flex-shrink: 0;
}

.connection__label:hover .connection__icon {
    border-color: var(--general-hover);
}

.connection__label .connection__icon::after {
    content: '';
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 10px;
    border: solid var(--general-bg);
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

.connection__label .connection__checkbox:checked+.connection__icon {
    background: var(--general-hover);
    border-color: var(--general-hover);
}

.connection__label .connection__checkbox:checked+.connection__icon::after {
    display: block;
}


/*========================================*/


.footer {
    background: var(--general-color);
    min-height: auto;
    color: var(--general-bg);
}

.footer__inner {
    padding: 50px 0;
}

.footer__about {
    padding: 25px 0;
    color: var(--general-bg);
    font-family: NAMU, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.footer__col {
    display: flex;
    gap: 50px;
}

.footer__shop {
    width: 340px;
}

.footer__shop-title {
    padding-bottom: 10px;
    font-family: NAMU, sans-serif;
    font-size: 24px;
}

.footer__shop-link {
    display: flex;
    flex-direction: column;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
}

.footer__shop-link a {
    padding: 6px 0;
}

.footer__info {
    width: 300px;
}

.footer__info-title {
    padding-bottom: 10px;
    font-family: NAMU, sans-serif;
    font-size: 24px;
}

.footer__info-link {
    display: flex;
    flex-direction: column;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
}

.footer__info-link a {
    padding: 6px 0;
}

.footer__box {
    display: flex;
    flex-direction: column;
}

.footer__item {
    display: flex;
    gap: 80px;
}

.footer__promo-title {
    padding-bottom: 10px;
    color: var(--general-bg);
    font-family: NAMU, sans-serif;
    font-size: 24px;
}

.footer__promo-link {
    display: flex;
    flex-direction: column;
    color: var(--general-bg);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
}

.footer__promo-link a {
    padding: 6px 0;
}

.footer__logistics-tel {
    color: var(--general-bg);
    font-family: OpenSans, sans-serif;
    line-height: 150%;
    font-size: 24px;
}

.footer__socials {
    padding-top: 54px;
}

.footer__col-copy {
    padding-top: 55px;
    color: var(--general-bg);
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}


/*===================================*/



@media (max-width: 1200px) {
    .nav {
        display: none;
    }

    .header__inner {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 0 0.9fr auto;
        column-gap: 20px;
        gap: 35px;
    }

    .about__body {
        gap: 60px;
        position: relative;
    }

    .about__heading {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 28%;
        z-index: 1;
    }

    .about__img {
        margin-top: 200px;
        align-self: flex-end;
        align-items: center;
        margin-right: -10px;
        min-width: 500px;
        padding: 0.5rem;
    }

    .content__title img {
        max-width: 100%;
    }

    .content__product {
        max-width: auto;
    }

    .content__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .opinion {
        display: none;
    }

}

@media (max-width: 900px) {
    .service__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .questions {
        padding: 150px 100px;
    }

    .nav__list {
        display: none;
    }

    .about__heading {
        padding: 0.5rem;
    }

    .about__img {
        min-width: 400px;
    }

    .footer__col {
        display: grid;
        grid-template-columns: 0.9 0.9fr auto;
        align-items: center;
        gap: 20px;
    }

    .footer__item {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 600px) {
    .questions {
        padding: 50px 20px;
    }

    .service__inner {
        grid-template-columns: 1fr;
    }

    .header__inner {
        gap: 40px;
    }

    .about__body {
        flex-direction: column;
    }

    .about__heading img {
        align-items: center;
        max-width: 200%;
    }

    .about__img {
        margin-top: -100px;
    }

    .connection__title {
        font-size: 20px;
    }
}

    @media (max-width: 400px) {

        .about__heading {
            padding-top: 10px;
            padding-bottom: 40px;
            gap: 20px;
        }
    }