.text1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.text2 {
    text-decoration: line-through;
}

.text3 {
    text-align: center;
    text-transform: uppercase;
}

.text4 {
    word-spacing: 30px;
    text-decoration: overline wavy;
    color: #040463;
}

.text5 {
    text-decoration: underline double;
    letter-spacing: 5px;
}